.card {
    height: 100px;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);

    .row {
        display: flex;
        align-items: center;
        
        .col-30 {
            flex: 0 0 30%;
            display: flex;
            text-align: center;
            justify-content: space-evenly;
        }
        .col-70 {
            flex: 0 0 70%;
            display: flex;
            text-align: left;
            justify-content: space-evenly;
        }

        .info {
            flex-direction: column;

        }
        
       
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        button {
            
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            color: red;
            font-size: 20px;
        }
    }
    

    .flag {
        height: 50px;
        width: auto;
    }
}

.isSelected {
    background-color: lightblue;
}

@media all and (max-width: 500px) {
    .card {
        margin: 0;
        width: 80%;
        
        border-left: 0;
        border-right: 0;
        padding:10%;
    }
  }